
.vs/MarsAlexaApp/v14/.suo
*.dg
MarsAlexaApp/aws-lambda-tools-defaults.json
MarsAlexaApp/bin/Release/netcoreapp1.0/MarsAlexaApp.dll
MarsAlexaApp/bin/Release/netcoreapp1.0/MarsAlexaApp.pdb
MarsAlexaApp/bin/Release/netcoreapp1.0/MarsAlexaApp.zip
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/Alexa.NET.dll
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/Amazon.Lambda.Core.dll
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/Amazon.Lambda.Serialization.Json.dll
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/MarsAlexaApp.dll
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/MarsAlexaApp.deps.json
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/MarsAlexaApp.pdb
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/Newtonsoft.Json.dll
MarsAlexaApp/bin/Release/netcoreapp1.0/publish/System.Runtime.Serialization.Primitives.dll
MarsAlexaApp/obj/Release/netcoreapp1.0/.IncrementalCache
MarsAlexaApp/obj/Release/netcoreapp1.0/.SDKVersion
MarsAlexaApp/obj/Release/netcoreapp1.0/dotnet-compile-csc.rsp
MarsAlexaApp/obj/Release/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
MarsAlexaApp/obj/Release/netcoreapp1.0/dotnet-compile.rsp
.vscode
